<mat-toolbar color="primary" class="secondaryFont">
    <img mat-button class="imgLogo pointCursor" [matMenuTriggerFor]="belowMenu" src="../assets/appLogo.png" width="140px">
    <mat-toolbar-row>
        <div class="toolbarspace"></div>
        <form action="" class="Search">
            <input class="Search-box" type="search" id="Search-box" autocomplete="off" placeholder="SEARCH CATALOG">
            <label class="Search-label" for="Search-box"><i class="fa fa-search"></i></label>
        </form>
        <mat-menu id="darkmenu" #appMenu1="matMenu">
            <li mat-menu-item class="fontWhite">Settings</li>
            <li mat-menu-item class="fontWhite">Help</li>
        </mat-menu>

        <p id="navPara" mat-icon-button [matMenuTriggerFor]="appMenu1" class="pointCursor">
            <i class="fa fa-map-marker"></i> "A VALUED CUSTOMER(72108)" <i class="fa fa-chevron-down"></i>
        </p>
        <span class="example-spacer"></span>
        <mat-menu id="darkmenu" #appMenu2="matMenu">
            <li mat-menu-item class="fontWhite">Label 1</li>
            <li mat-menu-item class="fontWhite">Label 2</li>
        </mat-menu>


        <p id="navPara" mat-icon-button [matMenuTriggerFor]="appMenu2" class="pointCursor">
            <i class="fa fa-user"></i> BALARAM SRINIVASAN &nbsp;
        </p>
        <p id="navPara" mat-icon-button [matMenuTriggerFor]="appMenu3" class="pointCursor">
            TEST5112
        </p>
        <mat-menu id="darkmenu" #appMenu3="matMenu">
            <li mat-menu-item class="fontWhite">Label 1</li>
            <li mat-menu-item class="fontWhite">Label 2</li>
        </mat-menu>

        <!-- <button mat-raised-button (click)=logout()>Logout</button> -->

    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="secondary">
    <mat-toolbar-row class="secondaryFont">
        <div class="toolbarspace"></div>
        <p id="navPara2" mat-icon-button [matMenuTriggerFor]="appMenu4" class="pointCursor">
            <i class="fa fa-product"></i> <strong>BROWSE PRODUCTS</strong> &nbsp;
        </p>
        <p id="navPara2" mat-icon-button [matMenuTriggerFor]="appMenu5" class="pointCursor">
            <strong>OUR EXCLUVSIVES</strong>
        </p>
        <p id="navPara2" mat-icon-button [matMenuTriggerFor]="appMenu6" class="pointCursor">
            <strong>MY BUSINESS</strong>
        </p>
        <span class="example-spacer"></span>
        <p id="navPara" mat-icon-button [matMenuTriggerFor]="appMenu1" class="pointCursor">
            <i class="fa fa-list"></i> TUESDAY LIST <i class="fa fa-chevron-down"></i>
        </p>
        <mat-form-field color="secondary">
            <mat-select placeholder="Current Order : $0.00">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-menu id="darkmenu" #appMenu4="matMenu">
            <li mat-menu-item class="fontWhite">Label 1</li>
            <li mat-menu-item class="fontWhite">Label 2</li>
        </mat-menu>
        <mat-menu id="darkmenu" #appMenu5="matMenu">
            <li mat-menu-item class="fontWhite">Label 1</li>
            <li mat-menu-item class="fontWhite">Label 2</li>
        </mat-menu>
        <mat-menu id="darkmenu" #appMenu6="matMenu">
            <li mat-menu-item class="fontWhite">Label 1</li>
            <li mat-menu-item class="fontWhite">Label 2</li>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #belowMenu="matMenu" yPosition="below">
    <mat-list>
        <mat-list-item>
            <h3 matLine> GREAT FOOD</h3>
            <p matLine> Some Text</p>

        </mat-list-item>
        <mat-list-item>
            <h3 matLine>OUR SERVICES</h3>
            <p matLine> Some Text</p>

        </mat-list-item>
        <mat-list-item>
            <h3 matLine>WHY US FOODS</h3>
            <p matLine> Some Text</p>

        </mat-list-item>
        <mat-list-item>
            <p matLine> ABOUT US FOODS</p>

        </mat-list-item>
        <mat-list-item>
            <p matLine> CAREERS</p>
        </mat-list-item>
        <mat-list-item>
            <p matLine>INVESTORS</p>
        </mat-list-item>
        <mat-list-item>
            <p matLine>LOCATIONS</p>
        </mat-list-item>
    </mat-list>
</mat-menu>