<div class="col-12 no-padding">
  <div class="row">
    <div *ngIf="type" class="col-6">
      <mat-form-field>
        <input matInput [(ngModel)]="orderObject.deliveryDate" [min]="orderObject.deliveryDate" [value]="orderObject.deliveryDate"
          [matDatepicker]="delivery" />
        <mat-datepicker-toggle matSuffix [for]="delivery"></mat-datepicker-toggle>
        <mat-datepicker #delivery></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="!type" class="col-6">
      <mat-form-field><label>PO#</label>
        <input [(ngModel)]="orderObject.po" matInput type="text" /></mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12 float-right">
      <button mat-raised-button class="greenButton float-right" color="primary" (click)="createOrder(true)">Create
        Order</button>
      <button mat-raised-button color="accent" class="float-left" (click)="createOrder(false)">Close</button></div>
  </div>

</div>