/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Tajawal", sans-serif;
    overflow-x: hidden;
}

.primaryFont {
    font-family: "Tajawal", sans-serif!important;
}

.secondaryFont {
    font-family: 'Ubuntu Condensed', sans-serif!important;
    font-weight: 600;
}